
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    
}

.titulo-final{
    text-align: center;
    font-size: 14px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

img{
    width: 230px;
    height: 150px;
    margin: auto;
}

 div > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
a{
    color:blue;
    text-decoration: none;
    margin-left: 20px;
}
a:hover{
    text-decoration: underline;
}

div > a:hover{
    text-decoration: underline;
}

.logo{
    width: 230px;
    height: 150px;  
    display: block;
    margin: 0px auto;
}

.imagenes{
    width: 620px;
    height: 380px;
    margin-top: 10px;
    margin-left: 40px;

}
.image{
    width: 590px;
    height: 380px;
    margin-top: 10px;
    margin-left: 50px;
}

.imagendos{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-left: 150px;
}

.text{
    font-family: georgia;
    font-size: 16px;
    margin-left: 20px;
    text-align: justify;
}

.subtitulos1{
    font-family: 'Comic Sans MS';
    font-size: 18px;
    margin-left: 100px;
    font-weight: 300;
    text-decoration: underline;
}
iframe{
    margin-left: 500px;
}